rendezvous_server = 'remote.sebraepb.com.br'
nat_type = 1
serial = 0

[options]
custom-rendezvous-server = 'remote.sebraepb.com.br'
key = 'bgRz9pieVOhLgn2WYJS8JvzXkN1TBzgNtuMh37gsVBM='
relay-server = 'remote.sebraepb.com.br'
password = "{{ rustdesk_password }}"
